<div class="app">

    <div class="app-header">
        <img class="app-header-icon">
        <span class="app-header-text"> OpenAPI Definition Explorer </span>
    </div>

    <div class="app-content">
        <fieldset class="app-content-filechooser">
            <legend class="app-content-filechooser-titel"> FileChooser </legend>
            <input type="file" accept="yaml" (change)="handleFileChange($event)">

        </fieldset>

        <fieldset class="app-content-path">
            <legend class="app-content-path-titel"> Path </legend>
            <span class="app-content-path-textfield"> {{pathText}} </span>
        </fieldset>

        <fieldset class="app-content-endpoints">
            <legend class="app-content-endpoints-titel"> Endpoints </legend>
            <div class="app-content-endpoints-content" *ngFor="let endPoint of validEndPoints">
                <treeview [prop]="endPoint" [path]="splittedPath" 
                          (openedPathOut)="handlePathToClickedNodeUpdate($event)" ></treeview>
            </div>
        </fieldset>
    </div>  

</div>