<div class="app">

    <div class="app-header">
        <img class="app-header-icon" [ngStyle]="{'animation': apiIconStyle}">
        <span class="app-header-text"> OpenAPI Definition Explorer </span>
    </div>

    <div class="app-content">
        <fieldset class="app-content-filechooser" *ngIf="isBackendActive">
            <legend class="app-content-filechooser-titel"> FileChooser </legend>
            <input type="file" accept=".yaml" (change)="handleFileChange($event.target.files)" single>
            <span class="app-content-stateindicator" [ngStyle]="stateIndicator === 'Success!' && {'color': 'green'}">{{stateIndicator}}</span>
        </fieldset>

        <fieldset class="app-content-path">
            <legend class="app-content-path-titel"> Path </legend>
            <span class="app-content-path-textfield"> {{pathToSelectedNode}} </span>
        </fieldset>

        <fieldset class="app-content-endpoints">
            <legend class="app-content-endpoints-titel"> Endpoints </legend>
            <div class="app-content-endpoints-content" *ngFor="let endPoint of validEndPoints">
                <treeview [prop]="endPoint" [path]="splittedPath" 
                          (openedPathOut)="handlePathToClickedNodeUpdate($event)" ></treeview>
            </div>
        </fieldset>
    </div>  

</div>