.arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    left: -5px;
    margin-right: 3px;
}

.expandedArrow {
    content: url("../../../assets/expanded_arrow_icon.svg");
}

.collapsedArrow {
    content: url("../../../assets/expanded_arrow_icon.svg");
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}