<div  (click)="onClick()">
    <ng-container *ngIf="hasGrandchild; then parent_node; else leaf_node"></ng-container>

    <ng-template #parent_node>
        <app-arrow [isExpanded]="isExpanded"></app-arrow> {{prop.name}}
    </ng-template>

    <ng-template #leaf_node>
        <b>{{prop.name}}:</b> 
        <span *ngIf="prop.type == 'string' || prop.type == 'integer'"> {{prop.type}} 
            <span *ngIf="prop.description"> - {{prop.description}} </span>
        </span>
        <span *ngIf="prop.type == 'array'"> {{prop.type}}<{{prop.items.type}}> </span>
        <span *ngIf="prop.type == 'number'"> {{prop.type}} </span>

    </ng-template>
</div>