<div>
    <ng-container *ngIf="hasOwnChildren; then parent_node; else leaf_node"></ng-container>

    <ng-template #parent_node>
        <app-arrow [isExpanded]="isExpanded"></app-arrow> {{prop.name}}
    </ng-template>

    <ng-template #leaf_node>
        <div class="leafNode" [ngSwitch]="prop.type" (click)="onLeafNodeClicked()">
            <span [ngClass]="{'leafNode-name' : isBold}">{{prop.name}}:</span> 
            <span *ngSwitchCase="'string' || 'integer'"> {{prop.type}} 
                <span *ngIf="prop.description"> - {{prop.description}} </span>
            </span>
            <span *ngSwitchCase="'array'"> {{prop.type}}<{{prop.items.type}}> </span>
            <span *ngSwitchCase="'number'"> {{prop.type}} </span>
            <span *ngSwitchDefault> {{prop.type}} </span>
        </div>
    </ng-template>
</div>