<div  (click)="onClick()">
    <ng-container *ngIf="hasOwnChildren; then parent_node; else leaf_node"></ng-container>

    <ng-template #parent_node>
        <app-arrow [isExpanded]="isExpanded"></app-arrow> {{prop.name}}
    </ng-template>

    <ng-template #leaf_node>
        <div [ngSwitch]="prop.type">
            <b>{{prop.name}}:</b> 
            <span *ngSwitchCase="'string' || 'integer'"> {{prop.type}} 
                <span> - {{prop.description}} </span>
            </span>
            <span *ngSwitchCase="'array'"> {{prop.type}}<{{prop.items.type}}> </span>
            <span *ngSwitchCase="'number'"> {{prop.type}} </span>
            <span *ngSwitchDefault> {{prop.type}} </span>
        </div>
    </ng-template>
</div>