
    <button *ngIf="dataVal && hasSubProps" type="button"  (click)="onClick()" [ngStyle]="{'margin-left.px':10}">{{dataKey}}</button>

    <span *ngIf="dataVal && isExpanded; then other_content1 else other_content2"></span>


    <ng-template #other_content1 >
        <div  *ngIf="dataVal.type == 'object'" [ngStyle]="{'margin-left.px':10}">
            <div class="content" *ngFor="let item of dataVal.properties | keyvalue">
                <app-endpoint-properties  [dataKey]="item.key" [dataVal]="item.value"></app-endpoint-properties>
            </div>
        </div>
    </ng-template>

    <ng-template #other_content2 >
        <div *ngIf="!hasSubProps" [ngStyle]="{'margin-left.px':10}">
            <b>{{dataKey}}: </b> 
            <span  *ngIf="dataVal.type == 'string' || dataVal.type == 'integer'">{{dataVal.type}} 
                <span *ngIf="dataVal.description"> - {{dataVal.description}}</span>
            </span>
            <span  *ngIf="dataVal.type == 'array'"> {{dataVal.type}}<{{dataVal.items.type}}></span>
            <span  *ngIf="dataVal.type == 'number'">{{dataVal.type}}</span>
        </div>
    </ng-template>

