.node {
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.node-parentnode {
    cursor: pointer;
}

.node-leafnode { }

.node-leafnode span:not(:first-child) {
    cursor: default;
}

.node-leafnode-name {
    cursor: pointer;
}

.node-leafnode-type {
    color: rgb(17, 85, 204);
}

.node-leafnode-description {
    color: gray;
}

.node-leafnode-description:hover {
    color: black;
    filter: brightness(135%);
}
  