<div class="container">
    <div class="header">
        <img class="apiIcon">
        <span class="header-text">OpenAPI Definition Explorer</span>
    </div>

    <div class="main-content">
        <fieldset class="fieldset file-chooser">
            <legend> File Chooser </legend>
            <input type="file" accept=".yaml" (change)="onChangeSelectedFile($event.target.files)">
        </fieldset>

        <fieldset class="fieldset path-fieldset">
            <legend> Path </legend>
            <input class="text-field" type="text" placeholder="enter something" (keyup)="onTextChange($event.target.value)">
        </fieldset>

        <fieldset class="fieldset">
            <legend> Endpoints </legend>
            <div *ngFor="let endPoint of valEndPoints">
                <app-endpoint [name]="endPoint.endPointName" [props]="endPoint.properties" 
                              [typedEPName]="typedEPName" [typedEPTail]="typedEPTail">
                </app-endpoint>
            </div>
        </fieldset>
    </div>
</div>