<div class="container">

    <div class="header">
        <img class="api-icon">
        <span class="header-text"> OpenAPI Definition Explorer </span>
    </div>

    <div class="main-container">

        <fieldset class="file-chooser">
            <legend> File Chooser </legend>
            <input type="file" accept=".yaml">
        </fieldset>

        <fieldset>
            <legend> Path </legend>
            <input class="text-field" type="text" placeholder="enter something" [value]="inputValue">
        </fieldset>

        <fieldset>
            <legend> Endpoints </legend>
            <div *ngFor="let endPoint of validEndPoints">
                <treeview [prop]="endPoint" [path]="splittedPath" (openedPathOut)="onOpenedPathUpdate($event)" ></treeview>
            </div>
        </fieldset>
        
    </div>

</div>