<div class="container">

    <div class="header">
        <img class="apiIcon">
        <span class="header-text">OpenAPI Definition Explorer</span>
    </div>

    <div class="main-content">
        <fieldset class="fieldset path-fieldset">
            <legend> Path </legend>
            <input class="text-field" type="text" id="lname" name="lname">
        </fieldset>

        <fieldset class="fieldset">
            <legend> Endpoints </legend>
            <div *ngFor="let endPoint of valEndPoints">
                <app-endpoint [name]="endPoint.endPointName" [props]="endPoint.properties"></app-endpoint>
            </div>
        </fieldset>
    </div>
</div>