<div class="treeview-child">
    <span class="treeview-child-titel" *ngIf="children && hasGrandchild" type="button"  (click)="onClick()">
        <app-arrow [isExpanded]="isExpanded"></app-arrow>{{titel}}
    </span>

    <div *ngIf="children && isExpanded; then show_children else show_properties"></div>

    <ng-template #show_children >
        <div *ngFor="let item of children.properties | keyvalue">
            <treeview-child  [child]="item" [path]="path"></treeview-child>
        </div>
    </ng-template>

    <ng-template #show_properties >
        <div *ngIf="!hasGrandchild">
            <b>{{titel}}: </b> 
            <span *ngIf="children.type == 'string' || children.type == 'integer'">{{children.type}} 
                <span *ngIf="children.description"> - {{children.description}}</span>
            </span>
            <span *ngIf="children.type == 'array'"> {{children.type}}<{{children.items.type}}></span>
            <span *ngIf="children.type == 'number'">{{children.type}}</span>
        </div>
    </ng-template>
</div>
